{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <ul>
        <h3>{{ object.name }}</h3>

        {% if request.user.is_authenticated %}
        
            <p>Author: {{ object.author }}</p>

            {% for ingredient in object.ingredients.all %}
            <li>{{ ingredient.ingredient.name }} : {{ ingredient.quantity }}</li>
            {% endfor %}

        {% else %}

            <p>Please login to view this page</p>

        {% endif %}
    </ul>
{% endblock %}